{% extends 'ArtMainBundle::layout.html.twig' %}

{% block head_additions %}
    <style>
        .instructions { padding: 20px 20px 0; }
        .pictures { padding: 20px 20px 0; }
        .pictures a { text-decoration: none; }
        .pictures img { border: 0; }
        .paginator { text-align: center; padding: 20px 20px 40px; }
        .paginator a { font-size: 20px; display: inline-block; border: 1px solid #ccc; border-radius: 6px; padding: 10px 20px; margin: 0 10px; }
        .paginator a.active { background: #eee; }
        .paginator a:hover, .paginator:focus { background: #ccc; }
        .fade { z-index: 100; background: url('{{ asset('/img/fade_bg.png') }}') repeat transparent; position: fixed; top: 0; left: 0; height: 100%; width: 100%; display: none; }
        .fade-content { display: none; position: fixed; top: 40px; left: 50%; margin-left: -260px; background: #fff; padding: 10px; border-radius: 10px; width: 520px; z-index: 101; }
        .fade-content .close { text-align: right; }
        .fade-content .img { width: 100%; height: 500px; background-size: contain; border: 0; }
    </style>
{% endblock %}

{% block content %}
    <div class="instructions">
        Отберите, пожалуйста, из всех представленных картин шесть в каждую группу:<br>
        1) те, которые нравятся;<br>
        2) те, которые вас отталкивают;<br>
        4) те, которые Вы хотели бы написать на мастер-классе по живописи (если бы в совершенстве владели техникой).<br>
        Затем нажмите на ссылку "Закончить отбор" вверху окна.
    </div>
    <div class="pictures">
        {% for picture in pictures %}
            <a href="javascript:void(0);" data-number="{{ picture.number }}" class="picture">
                <img src="/web/pictures/{{ picture.number }}.jpg" height="200">
            </a>
        {% endfor %}
    </div>
    <div class="paginator">
        <a href="{{ path('pictures', {'page': 1}) }}"{% if page == 1 %} class="active"{% endif %}>1</a>
        <a href="{{ path('pictures', {'page': 2}) }}"{% if page == 2 %} class="active"{% endif %}>2</a>
        <a href="{{ path('pictures', {'page': 3}) }}"{% if page == 3 %} class="active"{% endif %}>3</a>
        <a href="{{ path('pictures', {'page': 4}) }}"{% if page == 4 %} class="active"{% endif %}>4</a>
        <a href="{{ path('pictures', {'page': 5}) }}"{% if page == 5 %} class="active"{% endif %}>5</a>
    </div>
    <div class="fade">
    </div>
    <div class="fade-content" data-number="0">
        <div class="close"><a href="javascript:void(0);">Закрыть</a></div>
        <div class="img"></div>
        <input id="like" type="radio" name="radio" value="like"><label>Нравится</label><br>
        <input id="dislike" type="radio" name="radio" value="dislike"><label>Отталкивает</label><br>
        <input id="self" type="radio" name="radio" value="self"><label>Написал бы сам</label>
    </div>
{% endblock %}

{% block body_additions %}
    <script>
        function updateCounters() {
            $.ajax({
                'url': '{{ path('update_counters') }}',
                'dataType': 'json',
                'cache': false,
                'success': function(data) {
                    $('#like-count').html(data.like);
                    $('#dislike-count').html(data.dislike);
                    $('#self-count').html(data.self);
                }
            });
        }

        function checkPicture(number) {
            $.ajax({
                'url': '{{ path('pictures') }}check-picture/' + number,
                'dataType': 'json',
                'cache': false,
                'success': function(data) {
                    if (data == 'like') $('#like').prop('checked', true);
                    if (data == 'dislike') $('#dislike').prop('checked', true);
                    if (data == 'self') $('#self').prop('checked', true);
                }
            })
        }

        function fadeClose() {
            $('.fade-content').stop(true, true).fadeOut();
            $('.fade').stop(true, true).fadeOut();
        }

        $(document).ready(function() {
            $('.fade, .fade-content a').click(fadeClose);
            $('.fade-content input').change(function() {
                if ($(this).prop('checked')) {
                    var number = $(this).parent().attr('data-number');
                    var action = $(this).attr('id');
                    $.ajax({
                        'url': '{{ path('pictures') }}add-picture/' + action + '/' + number,
                        'dataType': 'json',
                        'cache': false,
                        'success': function (data) {
                            updateCounters();
                            fadeClose();
                        }
                    });
                }
            });
            $('a.picture').click(function() {
                var number = $(this).attr('data-number');
                $('.fade-content').attr('data-number', number);
                $('.fade-content .img').css({'background-image': 'url("/web/pictures/' + number + '.jpg")', 'background-position': 'center center', 'background-repeat': 'no-repeat'});
                $('.fade-content input').prop('checked', false);
                checkPicture(number);
                $('.fade').stop(true, true).fadeIn();
                $('.fade-content').stop(true, true).fadeIn();
            });
        });
    </script>
{% endblock %}